/*STYLE SHEET - You probably don't want to mess with this unless you know what you're doing.*/

body {
	background-image: url('background.png');
}

p, li, td {
	font-family: Verdana, Geneva, sans-serif;
	color: #300f00;
	text-align: left;
}

a:link, a:visited {
	color: #417dc1;
	text-decoration: none;
}

a:hover, a:active {
	color: #417dc1;
	text-decoration: underline;
}

.col-center {
	float: none;
	margin: 0 auto;
	margin-bottom: 1%;
	margin-top: 1%;
}

.local-container {
	margin: 2%;
}

.vcenter {
		display: inline-block;
		vertical-align: middle;
		float: none;
}
